<settings>
  <servers>
    <server>
      <id>aws-devops-aws-devops-cicd</id>
      <username>aws</username>
      <password>${env.CODEARTIFACT_AUTH_TOKEN}</password>
    </server>
  </servers>

  <profiles>
    <profile>
      <id>aws-devops-aws-devops-cicd</id>
      <activation>
        <activeByDefault>true</activeByDefault>
      </activation>
      <repositories>
        <repository>
          <id>aws-devops-aws-devops-cicd</id>
          <url>https://aws-devops-793909148141.d.codeartifact.us-west-2.amazonaws.com/maven/aws-devops-cicd/</url>
        </repository>
      </repositories>
    </profile>
  </profiles>

  <mirrors>
    <mirror>
      <id>aws-devops-aws-devops-cicd</id>
      <name>aws-devops-aws-devops-cicd</name>
      <url>https://aws-devops-793909148141.d.codeartifact.us-west-2.amazonaws.com/maven/aws-devops-cicd/</url>
      <mirrorOf>*</mirrorOf>
    </mirror>
  </mirrors>
</settings>